{% extends "base.html" %}
{% block content %}

<h3 class="light-teal-text text-darken-4 center-align">Tasks</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{url_for('add_task')}}" class="btn teal darken-1 waves-effect waves-light">
            Add Task <i class="fa fa-plus-square right"></i>
        </a>
    </div>
</div>

<div class="row">
    
    <ul class="collapsible">
        {% for task in tasks|sort(attribute="due_date") %}
        <li>
            <div class="collapsible-header light-teal-text text-darken-4"><i class="fas fa-caret-down">
                </i><strong>{{task.task_name}}</strong> : {{task.due_date.strftime("%d %B, %Y")}}
            
        {% if task.is_urgent == True %}
        <i class="fa fa-exclamation-circle light-teal-text text-darken-4"></i>
        {% endif %}
        </div>
            <div class="collapsible-body light-teal-text text-darken-4">
                <p><strong>Category:</strong> {{task.category}}</p>
                </br>
                <p><strong>Description:</strong> {{task.task_description}}</p>
                <a href="{{url_for('edit_task', task_id=task.id)}}" class="waves-effect waves btn green">Edit</a>
                

            </div>
            <div class="collapsible-body light-teal-text text-darken-4">
               
            </div>
        </li>
        {% endfor %}
  </div>


{% endblock %}

